{% extends "base_generic.html" %}

{% block conten %}
  <h1>{{ author.first_name }} {{author.last_name}}</h1>

  <p><strong>Date of birth:</strong> <a href="">{{ author.date_of_birth }}</a></p>
  <p><strong>Date of death:</strong> {{ author.date_of_birth }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</dt>
    <dd>{{book.summary}}</dd>

    {% endfor %}
</div>
{% endblock %}